<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>BESS Find Example</title>

    <script src="../../javascripts/framework.js" data-main="../../javascripts/manifest" type="text/javascript" charset="utf-8"></script>

	<link href="../../prettify/prettify.css" rel="stylesheet" />
	<link href="../../stylesheets/examples.css" rel="stylesheet" />
	<link href="../../besheets/examples.bess" type="text/bess" />

	<style type="text/css">
		.selected { color:blue; }
	</style>

</head>
<body>
<h2>Find</h2>
<div class="e">
	<p>Finds elements matching the selector and applies a class to them.</p>
	<pre class="source prettyprint"></pre>
	<div class="sample">
		<style type="text/bess">
			#one:html-inserted{
				class: 'add' 'selected' find('#one .found .it');
			}
		</style>

		<div id="one" class="example">
			<div>
				Hello 
				<span class="name">World </span>
				and 
				<span class="found">
					<b class="it">Goodbye.</b>
				</span>
			</div>
		</div>
	</div>
</div>
</body>
</html>