<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>BESS Empty Example</title>

    <script src="../../javascripts/framework.js" data-main="../../javascripts/manifest" type="text/javascript" charset="utf-8"></script>

	<link href="../../prettify/prettify.css" rel="stylesheet" />
	<link href="../../stylesheets/examples.css" rel="stylesheet" />
	<link href="../../besheets/examples.bess" type="text/bess" />
	
	<style type="text/css" media="screen">
		#clickr:hover {
			cursor: pointer;
		}

		#one{
			height: 10px;
		    overflow: hidden;
		}
	</style>

</head>
<body>
<h2>Wrap Text</h2>
<div class="e">
	<p>Scales a parent element to fit the child element (useful when the parent element is hiding the overflow).</p>
	<pre class="source prettyprint"></pre>
	<div class="sample">
		<style type="text/bess">
			a:html-inserted{
				html-op:    'wrapInner';
				html-source: '<span class="fuddyDuddy" />';
			}
		</style>
		<span id="clickr" class="target">Click me!</span>
		<a href="blah">Flubber</a>
	</div>
</div>
</body>
</html>